@model Movie

<h2>영화 등록</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Title">영화 제목</label>
        <input type="text" id="Title" name="Title" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Contents">줄거리</label>
        <textarea rows="10" id="Contents" name="Contents" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label for="Video">영상</label>
        <input type="file" id="Video" name="Video" class="form-control" accept=".mp4" required>
    </div>
    <div class="form-group">
        <label for="Genre">장르</label>
        <input type="text" id="Genre" name="Genre" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Age">연령가</label>
        <input type="text" id="Age" name="Age" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Year">연도</label>
        <input type="number" id="Year" name="Year" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Views">조회수</label>
        <input type="number" id="Views" name="Views" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Picture">사진</label>
        <input type="file" id="Picture" name="Picture" class="form-control" accept=".jpg" required>
    </div>
    <button type="submit" class="btn btn-primary">등록</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}