@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button>넣기</button>
    <p style="text-align: right;">
    <a asp-action="AdminCreateCommunity" class="btn btn-danger">공지사항등록</a>
</p>
</div>
