@model ModelBindingTest01.Models.Board
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<form method="post" action ="/Home">
        No : <input asp-for="No" class="form-control" value="1" />
        <br />
        Title : <input asp-for="Title" class="form-control" />
        <br />
        Content : <input asp-for="Content" class="form-control" />
        <br />
        Author : <input asp-for="Author" class="form-control" />

        <br />
        <input type="submit" value="Submit" class="btn-outline-primary"

    </form>

    
    