<!-- Result.cshtml -->

@model Diary;

<!DOCTYPE html>
<html>
<head>
    <title>Result Page</title>
</head>
<body>
    <h1>오늘의 일기...</h1>
    
    
    <p>
        No: @Model.No
    </p>
    <p>
        Datetime: @Model.Date
    </p>
    <p>
        Title: @Model.Title
    </p>
    <p>
        Content: @Model.Content
    </p>
</body>
</html>