<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link href="~/wwwroot/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div>
        @RenderBody()
    </div>


    <script src="~/wwwroot/lib/jquery/jquery.js"></script>
    <script src="~/wwwroot/lib/jquery/jquery.min.js"></script>
    <script src="~/wwwroot/lib/jquery/jquery.slim.js"></script>
    <script src="~/wwwroot/lib/jquery/jquery.slim.min.js"></script>

</body>
</html>
