
@{
    ViewData["Title"] = "Index";
    ViewData["Name"] = "홍길동";
    ViewData["Age"] = 22;

    Layout = "~/Views/Home/_Layout.cshtml";

}

<h1>Index</h1>

   이름: @ViewData["Name"]<br />
   나이 : @ViewData["Age"]<br />

@{
    string[] fruitis = { "사과", "딸기", "배" };
    ViewData["Fruits"] = fruitis;

    foreach(string item in (string[])ViewData["Fruits"])
    {
        @item <br />
    }
}

